@use "@angular/material" as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$spring-green-palette,
        tertiary: mat.$orange-palette,
        theme-type: light,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

:root {
  --mat-sys-primary: #006d33;
  --mat-sys-secondary: #ff9800;
  --mat-sys-on-primary: #fff;
  --mat-sys-on-secondary: #fff;
  --mat-sys-surface: #f5f5f5;
  --mat-sys-on-surface: #222;
}

html,
body {
  height: 100%;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}
body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

.snackbar-success {
  background: #43a047 !important;
  color: #fff !important;
  font-weight: 500;
  border-radius: 8px !important;
  animation: snackbar-slide-in 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.snackbar-error {
  background: #d32f2f !important;
  color: #fff !important;
  font-weight: 500;
  border-radius: 8px !important;
  animation: snackbar-slide-in 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.snackbar-success,
.snackbar-error {
  animation: snackbar-slide-in 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
@keyframes snackbar-slide-in {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
